@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    
    <h1 class="display-2">
    <h1>WELCOME!!</h1>    
    
       
        <hr>

    </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
